#contenedor{
    display: flex;
    background-color:white;
    border: 1px  solid;
    width: 800px;
    height: 100px;
    flex-flow: row;
    justify-content: space-between;
   
    
}
#rojo{
    background-color: red;
    width: 100px;  
    height: 100px; 
    /* margin: auto;   */
    
}
#azul{
    background-color: blue;
    width: 100px;  
    height: 100px; 
    /* margin: auto;  */
}
#verde{
    background-color: green;
    width: 100px;  
    height: 100px; 
    /* margin: auto;  */
}