h1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32;
    color: orangered;
    text-align: center;

}
.titulos{
    font-style: italic;
    color: blueviolet;
}
p{ width: 500px;
    height: auto;
    color: chocolate;
    background-color:bisque;
    padding: auto;
    border: 2px;


}